Source: ros-kilted-rqml
Section: misc
Priority: optional
Maintainer: Stefan Fabian <fabian@sim.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-rqml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-rqml-core, ros-kilted-rqml-default-plugins, ros-kilted-ros-workspace
Description: QML-based robotics visualization and control tool for ROS 2.
